<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>YECL MCV Service</title>
    </head>

    <body>
        <h1>Multi-semantic CV Service</h1>
        <p>This is a simple paragraph.</p>
        <p>Click on the "Choose File" button to upload a file:</p>

        <div class="app">
            <form enctype="multipart/form-data" method="post" action="/upload">
                <input name="filename" type="file" />
                <input name="function" type="text" />
                <input type="submit" value="Upload" />
            </form>
        </div>

        <div class="result">
            <label for="result_label">Result:</label>
            <textarea name="keypoints" rows="20" cols="100">
{{keypoints}}
            </textarea>
        </div>

        <div class="images-section">
            {% for image in images %}
            <a href="{{ url_for('serve_image', filename=image) }}" target="_blank">
                <!-- <img src="{{ url_for('serve_image', filename=image) }}" /> -->
                <img src="/serve-image/{{image}}"/>
            </a>
            {% endfor %}
        </div>
    </body>

</html>